/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.loader {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loader hr {
  width: 100%;
  border-radius: 4px;
  border: none;
  background-color: #fff;
  background: linear-gradient(to right, #4168b5, #90a5ce, #4168b5);
  background-size: 800px 50px;
  height: 20px;
  animation: loader 2s linear infinite;
}

.loader hr:nth-child(2) {
  width: 90%;
}
.loader hr:nth-child(3) {
  width: 80%;
}

@keyframes loader {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}

/* ==================================== */

#root {
  min-height: 100vh;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
